<h1 class="center">All Game Rooms</h1>

<h3 class="center">Choose a Game Room:</h3>

<% @game_rooms.each do |game_room| %>

    <h4><%= link_to game_room.game_name, game_room_path(game_room) %></h4>
    <h6>Info About <%=game_room.game_name%></h6>
        <ul>
            <li><%= game_room.game_description %></li>
            <li>Creator: <%= game_room.admin_name %></li>
        </ul>

<% end %>