<h1 class="center">Select from the list of games or create a new game</h1>

<h4>All Games:<h4>

<% @games.each do |game| %>
    
    <div class="card border-secondary mb-3">
        
        <div class="card-header">
            <%= game.name %>
        </div>

        <div class="card-body">
            <%= game.description %><hr>
            <%= link_to "View This Game", game_path(game), class: "btn btn-secondary" %>
        </div>

    </div>
<% end %>

<br><br>
<%= link_to "Create a New Game", new_game_path, class: "btn btn-lg btn-primary" %>